:root {
	--default-radius: 0.5em;
	--site-logo-filter: invert(0);
	--container-text: 700px;
	--container: 90rem;
}

@mixin light-mode() {
	--fmenu-bg: rgba(255,255,255,0.9);
}
@mixin dark-mode() {
	--fmenu-bg: rgba(26,26,26,0.8);
}

@media screen and (prefers-color-scheme: light) {
	:root { @include light-mode(); }
}
@media screen and (prefers-color-scheme: dark) {
	:root { @include dark-mode(); }
}

.light-mode { @include light-mode(); }
.dark-mode { @include dark-mode(); }

.as-page {
	scroll-behavior: smooth;
	min-width: 350px;
}

.material-icons,
.material-symbols-outlined {
	font-size: 1.5em;
}

.material-icons { vertical-align: -23% !important; }

.site-logo {
	filter: var(--site-logo-filter);
}

#fmenu {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 64px;
	transform: translateY(-100%);
	transform-origin: 0%;
	opacity: 0;
	border-bottom: 1px solid var(--outline);
	box-shadow: 0px 1px 15px rgba(128,128,128,0.05);
	z-index: 9000;
	background-color: var(--fmenu-bg);
	backdrop-filter: saturate(50%) blur(8px);
	transition: transform ease 0.1s, opacity ease 0.1s !important;
	
	&.pinned {
		opacity: 1;
		transform: translateY(0%);
	}
}

.collapsible {
	transition: max-height .5s ease-in-out;
	overflow: hidden !important;
	max-height: 0px;
}

// landing page style

.csection {
	position: relative;
	min-height: 70vh;
	max-width: 1440px;
}

.sidemenu {
	width: var(--sidepanel-width);
	box-shadow: none;
	background-color: transparent !important;
	padding: 10px;
}

#admenu {
	display: flex;
	flex-flow: row wrap;
	padding: 15px 6px;
	min-height: calc(100vh - 200px);
}

#navmenu {
	border-right: 1px solid var(--outline);
}

@media only screen and (max-width: 800px) {
	.sidemenu { display: none !important; }
}

.ad {
	box-shadow: 0px 0px 5px #aaa;
	padding: 10px;
	background-color: var(--surface);
}

#feed {
	position: relative;
	width: calc(100% - var(--sidepanel-width) - var(--sidepanel-width));
	max-width: var(--container-text);
	min-height: 100%;
	padding: 20px 1em;
	margin: 0px auto;
}

.p-h {
	.p-h3 { transition: font-size 0.1s linear; }
	& > .pinned {
		box-shadow: 0px 5px 10px 5px var(--surface);

		.p-h3 {
			font-size: 1.5rem !important;
			margin-top: 0.5rem;
		}
	}
}
